# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py=0.15.0=pypi_0
appnope=0.1.2=py39h6e9494a_2
asttokens=2.0.5=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
attrs=21.2.0=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=py_2
backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
black=21.12b0=pyhd8ed1ab_0
blas=1.0=mkl
bottleneck=1.3.2=py39he3068b8_1
brotli=1.0.9=hb1e8313_2
ca-certificates=2021.10.26=hecd8cb5_2
cachetools=3.1.1=pypi_0
certifi=2021.10.8=py39hecd8cb5_2
chardet=4.0.0=pypi_0
charset-normalizer=2.0.10=pypi_0
click=8.0.3=py39h6e9494a_1
cloudpickle=2.0.0=pypi_0
cycler=0.11.0=pyhd3eb1b0_0
dataclasses=0.8=pyhc8e2a94_3
debugpy=1.5.1=py39h9fcab8e_0
decorator=5.1.1=pyhd8ed1ab_0
dill=0.3.4=pypi_0
dm-tree=0.1.6=pypi_0
entrypoints=0.3=pyhd8ed1ab_1003
executing=0.8.2=pyhd8ed1ab_0
farmhashpy=0.4.0=pypi_0
flatbuffers=2.0=pypi_0
fonttools=4.25.0=pyhd3eb1b0_0
freetype=2.11.0=hd8bbffd_0
gast=0.4.0=pypi_0
giflib=5.2.1=haf1e3a3_0
google-auth=2.3.3=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.54.0=pypi_0
grpcio=1.37.1=pypi_0
h5py=3.6.0=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.10.1=pypi_0
intel-openmp=2021.4.0=hecd8cb5_3538
ipykernel=6.7.0=py39h71a6800_0
ipython=8.0.1=py39h6e9494a_0
jax=0.2.27=pypi_0
jaxlib=0.1.75=pypi_0
jedi=0.18.1=py39h6e9494a_0
joblib=1.1.0=pyhd3eb1b0_0
jpeg=9d=h9ed2024_0
jupyter_client=7.1.1=pyhd8ed1ab_0
jupyter_core=4.9.1=py39h6e9494a_1
keras=2.7.0=pypi_0
keras-nightly=2.9.0.dev2022012608=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=py39h23ab428_0
lcms2=2.12=hf1fd2bf_0
libclang=12.0.0=pypi_0
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
libgfortran=3.0.1=h93005f0_2
libpng=1.6.37=ha441bb4_0
libsodium=1.0.18=hbcb3906_1
libtiff=4.2.0=h87d7836_0
libwebp=1.2.0=hacca55c_0
libwebp-base=1.2.0=h9ed2024_0
llvm-openmp=12.0.0=h0dcd299_1
lz4-c=1.9.3=h23ab428_1
markdown=3.3.6=pypi_0
matplotlib=3.5.0=py39hecd8cb5_0
matplotlib-base=3.5.0=py39h4f681db_0
matplotlib-inline=0.1.3=pyhd8ed1ab_0
mkl=2021.4.0=hecd8cb5_637
mkl-service=2.4.0=py39h9ed2024_0
mkl_fft=1.3.1=py39h4ab4a9b_0
mkl_random=1.2.2=py39hb2f4e1b_0
mpmath=1.2.1=pypi_0
munkres=1.1.4=py_0
mypy_extensions=0.4.3=py39h6e9494a_4
ncurses=6.3=hca72f7f_1
nest-asyncio=1.5.4=pyhd8ed1ab_0
numexpr=2.7.3=py39h5873af2_1
numpy=1.21.5=pypi_0
oauthlib=3.1.1=pypi_0
olefile=0.46=pyhd3eb1b0_0
openssl=1.1.1m=hca72f7f_0
opt-einsum=3.3.0=pypi_0
packaging=21.3=pyhd3eb1b0_0
pandas=1.3.4=py39h743cdd8_0
parso=0.8.3=pyhd8ed1ab_0
pathspec=0.9.0=pyhd8ed1ab_0
patsy=0.5.2=py39hecd8cb5_0
pdfminer3=2018.12.3.0=pypi_0
pexpect=4.8.0=pyh9f0ad1d_2
pickleshare=0.7.5=py_1003
pillow=8.4.0=py39h98e4679_0
pip=21.2.4=py39hecd8cb5_0
platformdirs=2.3.0=pyhd8ed1ab_0
portpicker=1.3.9=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.24=pyha770c72_0
protobuf=3.19.3=pypi_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.1=pyhd8ed1ab_1
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycryptodome=3.11.0=pypi_0
pygments=2.11.2=pyhd8ed1ab_0
pyparsing=3.0.4=pyhd3eb1b0_0
python=3.9.7=h88f2d9e_1
python-dateutil=2.8.2=pyhd3eb1b0_0
python_abi=3.9=2_cp39
pytz=2021.3=pyhd3eb1b0_0
pyzmq=22.3.0=py39h7fec2f1_1
readline=8.1=h9ed2024_0
requests=2.27.1=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.8=pypi_0
scikit-learn=1.0.2=py39hae1ba45_1
scipy=1.7.3=py39h8c7af03_0
semantic-version=2.8.5=pypi_0
setuptools=58.0.4=py39hecd8cb5_0
six=1.16.0=pyhd3eb1b0_0
sortedcontainers=2.4.0=pypi_0
sqlite=3.36.0=hce871da_0
stack_data=0.1.4=pyhd8ed1ab_0
statsmodels=0.13.0=py39hca72f7f_0
tb-nightly=2.8.0a20220120=pypi_0
tensorboard=2.8.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.7.0=pypi_0
tensorflow-datasets=4.5.0=pypi_0
tensorflow-estimator=2.7.0=pypi_0
tensorflow-federated-nightly=0.19.0.dev20220126=pypi_0
tensorflow-io-gcs-filesystem=0.23.1=pypi_0
tensorflow-metadata=1.6.0=pypi_0
tensorflow-model-optimization=0.7.0=pypi_0
tensorflow-privacy=0.7.3=pypi_0
tensorflow-probability=0.15.0=pypi_0
termcolor=1.1.0=pypi_0
tf-estimator-nightly=2.9.0.dev2022012609=pypi_0
tf-nightly=2.9.0.dev20220106=pypi_0
threadpoolctl=2.2.0=pyh0d69192_0
tk=8.6.11=h7bc2e8c_0
tomli=1.2.2=pyhd8ed1ab_0
tornado=6.1=py39h89e85a6_2
tqdm=4.28.1=pypi_0
traitlets=5.1.1=pyhd8ed1ab_0
typed-ast=1.5.1=py39h89e85a6_0
typing_extensions=4.0.1=pyha770c72_0
tzdata=2021e=hda174b7_0
urllib3=1.26.8=pypi_0
wcwidth=0.2.5=pyh9f0ad1d_2
werkzeug=2.0.2=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
wrapt=1.13.3=pypi_0
xz=5.2.5=h1de35cc_0
zeromq=4.3.4=he49afe7_1
zipp=3.7.0=pypi_0
zlib=1.2.11=h1de35cc_3
zstd=1.4.9=h322a384_0
