# lines starting with # are a comment

# ignore all .a files
*.a

# but do track lib.a, even though you're ignoring .a files above
!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in any directory named build

build/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
doc/**/*.pdf

############

# ignore
.DS_Store
.vscode/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# R
.Rproj.user
.Rhistory
.Rdata
.httr-oauth

# python
tempCodeRunnerFile.py


############ See https://github.com/github/gitignore #############

############ Für R: https://github.com/github/gitignore/blob/master/R.gitignore ############ Für Python: https://github.com/github/gitignore/blob/master/Python.gitignore
############ Für Tex: https://github.com/github/gitignore/blob/master/TeX.gitignore
