alibi==0.5.7
decorator==4.4.2
ipython==7.23.0
matplotlib==3.4.1
numpy==1.20.2
pandas==1.2.4
pyarrow==4.0.0
pyspark==3.1.1
shap==0.39.0
sklearn==0.0
statsmodels==0.12.2
tensorflow==2.4.1
xgboost==1.4.1
